li  id="attachment-#{attachment.id}" class='list-group-item'
  = link_to octicon('file') + ' ' + attachment.filename.to_s + ' ', url_for(attachment)

  - if current_user&.authorized_for?(resource)
    = link_to octicon('x', fill: 'red'),
            attachment_delete_path(attachment.id),
            method: :delete,
            remote: true,
            data: { confirm: 'Are you sure?' },
            class: 'delete-file-link'